<!-- start html_open.html-->
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="../static/css/libs.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/styles.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- open .header -->
<!-- end html_open.html-->

<!-- start header.html-->
<header class="header">

    <div class="header__top">

        <div class="container">

            <div class="row">

                <div class="header__top-links">

                    <div class="header__top-links--region">
                        <span>Ваш регион:</span>
                        <a href="#">Москва</a>
                    </div>

                    <div class="header__top-links--tools">

                        <a href="#" class="element">
                            <span class="icon"><img src="../static/i/icons/coin-icon.png" alt=""></span>
                            Монетки (<span class="value">57 026</span>)</a>
                        <a href="#" class="element">
                            <span class="icon"><img src="../static/i/icons/wishlist-icon.png" alt=""></span>
                            Избранное (<span class="value">9</span>)</a>
                        <a href="#" class="element">
                            <span class="icon"><img src="../static/i/icons/scales-icon.png" alt=""></span>
                            Сравнение (<span class="value">1</span>)</a>
                        <a href="#" class="element">
                            <span class="icon"><img src="../static/i/icons/basket-icon.png" alt=""></span>
                            <span class="value">12 350</span>руб.</a>

                    </div>

                    <div class="header__top-links--cabinet">

                        <a href="#" class="header__top-links--enter">Вход</a>
                        <a href="#" class="header__top-links--enter">Регистрация</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

</header>

<!-- end header.html-->

<!-- main container-->

<!-- start content.html-->

<!-- @@block  =  content-->
<main>
    my content
</main>
<!-- @@close-->

<!-- end content.html-->

<!-- close container-->

<!-- start footer.html-->
<footer>
    my footer
</footer>
<!-- end footer.html-->

<!-- start html_close.html-->
<script src='../static/js/vendors.js' type="text/javascript"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="../static/js/common.js" type="text/javascript"></script>
</body>
</html>
<!-- end html_close.html-->
